* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

#setup-canvas {
    background-color: darkcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
}

.container {
    width: 100vh;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
}

.pixel {
    border: 1px solid black;
}