* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}


.container {
    width: 100vh;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
}

.pixel {
    border: 1px solid black;
}